<h1>Listing Students</h1>

<table>

<% @students.each do |student| %>
  <tr>
    <td><%= link_to [student.lname, student.fname].join(', '), action: 'show', id: student.id %></td>
    <td><%= link_to 'Edit', action: 'edit', id: student.id %></td>
    <td><%= link_to 'Destroy', {action: 'destroy', id: student.id}, confirm: 'Are you sure?', method: :post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', action: 'new' %>

