<h1>Information for this <%= @student.class.model_name.human %></h1>
<% @student.attributes.each do |attribute| %>
  <% attr_name = attribute.first.to_s.split('_').map(&:capitalize).join(' ') %>
  <% unless (attribute.first.to_s.eql?("id")) %>
    <div><%= "#{attr_name}:  #{attribute.last}"%></div>
  <% end %>
<% end %>
<%= link_to 'Edit', action: 'edit', id: @student.id %> |
<%= link_to 'Back', action: nil %>
