<h1><%= [@student.lname, @student.fname].join(', ') %></h1>

<p>Created: <i><%= time_ago_in_words(@student.created_at) %> ago</i></p>

<%= link_to 'Edit', action: 'edit', id: @student.id %> |
<%= link_to 'Back', action: nil %>
